@import "primevue/resources/primevue.css";
@import "primeicons/primeicons.css";
@import "primevue/resources/themes/mdc-light-indigo/theme.css";

@tailwind base;

/* PrimeVue overrides that could cause conflicts with Tailwind */
:root {
  --font-family: theme("fontFamily.sans");
}

*,
*::before,
*::after {
  @apply m-0 relative font-normal box-border;
}

body {
  @apply bg-slate-50 text-slate-900;

  font-size: 16px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  @apply cursor-pointer focus:outline-none focus:ring-0;
}

a[disabled],
button[disabled] {
  @apply cursor-default pointer-events-none;
}

input:focus-visible {
  @apply outline-none ring-0;
}

@tailwind components;

/* PrimeVue overrides that could cause conflicts with Tailwind */
.p-component,
.p-link,
.p-autocomplete
  .p-autocomplete-multiple-container
  .p-autocomplete-input-token
  input,
.p-chips .p-chips-multiple-container .p-chips-input-token input,
.p-inputtext,
.p-terminal .p-terminal-input {
  @apply font-sans;
}

@tailwind utilities;
